<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div>
    <h2>Registeration Form</h2>
    </div>
    <form action="/form" method="POST"></form>
    <div class="form-group">
        <label for="Fullname">Name:</label>
        <input type="text" name="Fullname" placeholder="Your Name">
    </div>
     <div class="form-group">
         <label for="Email">Email:</label>
        <input type="Email" name="Email" placeholder="Your Email">
    </div>
     <div class="form-group">
         <label for="password">Password:</label>
        <input type="password" name="Password" placeholder="Your Password">
    </div>
     <div class="form-group">
        <input type="Submit" name="Submit">
    </div>
    
</body>
</html>