<footer class="footer text-center">
    © 2020 Dashboard Admin by <a href="#">Aakash Saini</a>
</footer>
</div>
    <script src="/vendor/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/plugins/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendor/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/js/app-style-switcher.js"></script>
    <script src="/vendor/js/waves.js"></script>
    <script src="/vendor/js/sidebarmenu.js"></script>
    <script src="/vendor/js/custom.js"></script>
    <script src="/vendor/plugins/flot/jquery.flot.js"></script>
    <script src="/vendor/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/vendor/js/pages/dashboards/dashboard1.js"></script>
</body>
</html>