<%- include('../common/head'); %>
<div class="container mt-3">
  <h2>Registeration User</h2>
  <form action="/users" method="post">
      <div class="row mt-3">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="text" class="form-control" id="mobile" placeholder="Enter mobile" name="mobile">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" placeholder="Enter state" name="state">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      
  </form>
</div>
<%- include('../common/footer'); %>