<%- include('../common/head'); %>
<div class="container">
  <h2><%- Title %></h2>
  <p><%- viewTitle %></p>
  <a href="/users/create" class="btn btn-info btn-rounded waves-effect waves-light mb-4" style="float: right;">Create User</a>

<table class="table table-hover">
<tr>
    <th>First Name</th>
    <th>Lastname </th>
    <th>Email</th>
    <th>Mobile </th>
    <th>City </th>
    <th>State</th>
    <th>Action</th>
</tr>
<% if(users!=null) { %>

<% users.forEach(function(item){ %>
<tr>
    <td><%- item.first_name %></td>
    <td><%- item.last_name  %></td>
    <td><%- item.email %></td>
    <td><%- item.mobile  %></td>
    <td><%- item.city %></td>
    <td><%- item.state %></td>
    <td>
      <a href=""><i class="far fa-edit"></i></a> 
      <a href="/users/delete/<%=item._id %>"><i class="fas fa-trash"></i></a> 
    </td>
</tr>
<% }) %>
<% }else{ %>
  <tr class="text-center">
    <td colspan="7"><strong>Data Not Found!</strong></td>
  </tr>
<% }%>
</table>



</div>
<%- include('../common/footer'); %>
